/* Testing button */
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100px;
}

/*  Button colors - basic */
#green-basic {
  background-color: green;
}

#blue-basic {
  background-color: blue;
}

/* #white-center {
  border-radius: 50%;
  background-color: white;
  width: 500px;
  height: 500px;
  position: relative;
    box-shadow: 0 0 0 100px blue;

} */

/* .circle {
  border-top-left-radius: 110px;  
  border-top-right-radius: 110px;
  border-bottom: 0px;
} */


#intensity-full-blue {
  width: 12rem;
  height: 12rem;
  position: absolute;
  background-color: #41B8EA;
  /* box-shadow: 0 0 0 1rem #41B8EA; */
  /* border-radius: 50%; */
  border-radius: 0 0 20rem 0;
}

#intensity-eighty-blue {
  width: 10rem;
  height: 10rem;
  background-color: #70C3ED;
  border-radius: 0 0 20rem 0; 
  position: relative;
  transform: translate(0px, 0px);
}

#intensity-sixty-blue {
  width: 8rem;
  height: 8rem;
  border-radius: 0 0 20rem 0; 
  background-color: #97D1F2;
  border-radius: 0 0 20rem 0; 
  position: relative;
  transform: translate(0px, 0px);
}

#intensity-forty-blue {
  width: 6rem;
  height: 6rem;
  background-color: #B7DFF4;
  border-radius: 0 0 20rem 0;
  position: relative;
  transform: translate(0px, 0px);
}

#intensity-twenty-blue {
  width: 4rem;
  height: 4rem;
  background-color: #DBECFA;
  border-radius: 0 0 20rem 0;
  position: relative;
  transform: translate(0px, 0px);
}

#intensity-zero{
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 0 0 20rem 0;
  position: relative;
  transform: translate(0px, 0px);
}

.App {
  /* text-align: center; */
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
